*{
    margin: 0;
    padding: 0;

}
#box5{
    background-image: url("portfolio-image.jpg.avif");
    background-size: contain;

}
#box6{

    height: 50px;
    text-align: start;
    font-family: sans-serif;

}

body{
    background-color: rgb(29, 30, 31);
    color: rgb(217, 217, 217);

}

#navbar{

    background-color:rgba(0, 0, 0, 0.656) ;
    height: 30px;
    border: 5px solid black;
    
}

a{

    margin-right: 200px;
    text-decoration: none;
    color: whitesmoke;
    
}

#box2{

    display: flex;
    justify-content: space-evenly;
    text-align: end;

    

}

#box3{

    width:430px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.656) ;
    border: 2px solid black;
    margin-top: 5px;
    display: inline-block;
    margin-right: 10px;
    padding: 10px;
    
    

}

#box4{

    background-color: rgba(0, 0, 0, 0.656) ;
    height: 200px;
    border: 5px solid black;
    margin-top: 2px;
    text-align: center;
    
}

#box3:hover{

    transition-property: all;
    background-color: rgba(0, 0, 0, 0.824);
    transition-duration: 3s;
    
    

}

#box4:hover{

    transition-property: all;
    background-color: rgba(0, 0, 0, 0.824);
    transition-duration: 3s;
    font-size: large;
    

}

#navbar:hover{

    transition-property: all;
    background-color: rgba(0, 0, 0, 0.824);
    transition-duration: 3s;
    font-size: large;
    

}

@media(max-width:600px){
    #box2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #navbar{
        height: 100px;
    }
    #box3{
        padding: 10px;
        width: 370px;
    }
    
}


