*{

    padding: 0;
    margin: 0;
    color: whitesmoke;
    
    


}

#container{

    display: flex;
    justify-content: center;
    background-image: url("portfolio-image.jpg.avif");
    background-size: cover;
    height: 650px;

}

#navbar{

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(8, 8, 8);
    margin-top: 250px;
    margin-bottom: 250px;
    width: 400px;
    
    

    

}

#box1{

    margin-top: 10px;

}

a{

    text-decoration: none;
}

button{

    color: whitesmoke;
    background-image: url("portfolio-image.jpg.avif");
    background-size: cover;
    width: 70px;
    height: 30px;
    font-family:serif;
    font-size: large;
    



}

#navbar:hover{

    background-color: rgba(0, 0, 0, 0.727);
    transition-duration: 3s;
}

button:hover{

    width: 150px;
    transition-duration: 3s;
}

@media(max-width:600px){

    #container{

        height: 916px;
    }


}